@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 100px;
}
header p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: solid 2px;
  border-color: #ff52bf;
  border-radius: 19px;
  padding: 10px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
}
.hero h1 {
  padding: 30px;
  font-family: Poppins;
}
.hero p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 400px;
  margin-bottom: 30px;
}
.hero button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  width: 40%;
  background-color: #ff52bf;
  padding: 25px;
  box-shadow: 0 1rem 1.5rem rgba(31, 47, 86, 0.2);
  border-radius: 33px;
  margin-bottom: 130px;
}
.hero img {
  max-width: 80%;
}
.hero .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 50px;
  padding-bottom: 200px;
}
.hero .counter .count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .counter .count strong {
  font-size: 90px;
  font-weight: 700;
  color: black;
}
.hero .counter .count p {
  padding: 0;
  width: 250px;
  color: grey;
}
.hero .counter .count img {
  width: 30px;
  align-self: flex-start;
}

.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80vh;
  background-image: url(../images/bg-section-top-desktop-1.svg);
  background: #f5faff;
  position: relative;
}
.dark::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 139px;
  background-image: url(../images/bg-section-top-desktop-1.svg);
  top: -139px;
}
.dark .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: 40%;
}
.dark .text h1 {
  align-self: flex-start;
  padding: 20px;
  padding-left: 0;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 700;
}
.dark .text p {
  font-family: "Open Sans", sans-serif;
}
.dark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 139px;
  background-image: url(../images/bg-section-bottom-desktop-1.svg);
  bottom: -139px;
}
.dark img {
  width: 40%;
}

.light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80vh;
  background: white;
  position: relative;
  margin-top: 139px;
}
.light .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: 40%;
}
.light .text h1 {
  align-self: flex-start;
  padding: 20px;
  padding-left: 0;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 700;
}
.light .text p {
  font-family: "Open Sans", sans-serif;
}
.light img {
  width: 40%;
}

.hero-last {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
.hero-last h1 {
  width: 100%;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
}
.hero-last button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  width: 40%;
  background-color: #ff52bf;
  padding: 25px;
  box-shadow: 0 1rem 1.5rem rgba(31, 47, 86, 0.2);
  border-radius: 33px;
  margin-top: 70px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #00252e;
  color: white;
  justify-content: space-around;
  position: relative;
  height: 400px;
}
.footer-container p {
  font-family: "Open Sans", sans-serif;
}
.footer-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 158px;
  background-image: url(../images/bg-footer-top-desktop.svg);
  top: -158px;
}
.footer-container .right {
  padding: 50px;
  width: 40%;
}
.footer-container .left {
  padding: 50px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.footer-container .left img {
  fill: white !important;
}
.footer-container .left .block {
  display: flex;
  width: 100%;
}
.footer-container .left .block img {
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {
  header img {
    width: 150px;
  }
  header p {
    padding: 5px 20px;
  }

  .hero {
    max-width: 80%;
  }
  .hero h1 {
    padding: 15px 0px;
    transform: scale(0.75);
  }
  .hero p {
    padding: 0 20px;
    text-align: center;
  }
  .hero .counter {
    flex-direction: column;
    gap: 5rem;
  }
  .hero button {
    width: 60%;
  }

  .dark {
    flex-direction: column-reverse;
  }
  .dark img {
    width: 80%;
  }
  .dark .text {
    width: 100%;
    text-align: center;
  }
  .dark .text h1 {
    align-self: center;
  }

  .light {
    flex-direction: column-reverse;
  }
  .light img {
    width: 80%;
  }
  .light .text {
    width: 100%;
    text-align: center;
  }
  .light .text h1 {
    align-self: center;
  }

  .footer-container {
    flex-direction: column-reverse;
    height: initial;
  }
  .footer-container .right {
    width: 100%;
  }
  .footer-container .left {
    width: 100%;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: none;
}

.attribution a {
  color: #3e52a3;
}/*# sourceMappingURL=style.css.map */